@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body, html {
	background-color: #F3EDEB;
	color: #1A1310;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;

}

#root {
	background-color: #F3EDEB;
}

button:focus {
	outline: 0!important;
}

.App {
	background-color: #F3EDEB;
	text-align: center;
	color: #1A1310;
	max-width: 700px;
	width: 100%;
	margin: auto;
	min-height: 100vh;
	position: relative;
}

.shopheader {
	list-style: none;
    padding: 0;
    display: flex;
	justify-content: space-between;
	padding-top: 30px;
	margin-bottom: 26px;
}

.disabled {
	opacity: 0.3;
}

.productlist li {
	margin-bottom: 12px;
	background-color: white;
	border-radius: 12px;
	border: 3px solid white;
	position: relative;
	text-align: left;
	overflow: hidden;
	cursor: pointer;
}

.productlist li.active {
	border: 3px solid #457D7E;
	box-shadow: 0px 7px 16px rgba(23,16,14,0.3);
	z-index: 1;
	cursor: default;
}

.productlist .product-name {
	color: #736560;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-radius: 12px;
	margin-bottom: 12px;
	outline: 0;
	border:0px;
	padding: 0 24px;
}

.choosedeliverybtn-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

.choosedeliverybtn-title {
	color: #736560;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 6px;
}

.deliverytoaddress {
	display: none;
	margin-bottom: 24px;
}

.deliverytoaddress.active {
	display: block;
}

.choosedeliverybtn-subtitle {
	font-size: 12px;
}

.choosedeliverybtn {
	
	background-color: white;
	border-radius: 12px;
	border: 3px solid white;
	position: relative;
	padding: 24px 12px 16px;
	text-align: left;
	overflow: hidden;
	flex-basis: calc(50% - 6px);
	text-align: center;
}

.choosedeliverybtn:focus {
	outline: none;
}

.choosedeliverybtn.active {
	border: 3px solid #457D7E;
	box-shadow: 0px 7px 16px rgba(23,16,14,0.3);
	z-index: 1;
}

.textarea {
	width: 100%;
	height: 100px;
	border-radius: 12px;
	margin-bottom: 12px;
	outline: 0;
	border:0px;
	padding: 12px 24px;
}

.productlist .product-desc {
	font-size: 14px;
	margin: 0px;
	padding-right: 40px;
}

.totalprice{
	text-align: left;
}
.totalprice-name {
	color: #736560;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.totalprice-price {
	font-size: 14px;
	color: #457D7E;
	font-weight: 500;
	position: absolute;
	right: 24px;
	top: 12px;
}
.productlist .product-inner {
	display: block;
    padding: 12px 24px;
}

.product-amount {
	padding: 0 24px;
    display: flex;
    justify-content: space-between;
    background-color: #E4E1E0;
    height: 40px;
	align-items: center;
	display: none;
}

.productlist li.active .product-amount {
	display: flex;
}

.product-amount-div {
	background: white;
    border-radius: 4px;
}

.product-amount-title {
	font-size: 14px;
	font-weight: 500;
	color: #457D7E;
}
.product-amount-price {
	padding: 0 24px 12px;
    display: flex;
    justify-content: space-between;
}

.categorylist {
	margin-bottom: 36px;
}

.productlist .product-price {
	font-size: 14px;
	color: #457D7E;
	font-weight: 500;
	position: absolute;
	right: 24px;
	top: 12px;
}
/* 
.productlist li:last-child {
	margin-bottom: 0px;
} */

.catname {
	color: #736560;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.noul {
	padding: 0px;
	list-style: none;
}
.shopheader li {
	text-align: center;
	position: relative;
	padding: 0 10px;
	flex-basis: 33.3%;
	
}

.shopheader li:before {
	content: '';
	display: block;
    width: 100%;
    height: 1px;
    background: #736560;
    top: 15px;
    position: absolute;
	left: 50%;
	opacity: 0.4;
}

.shopheader li:last-child:before {
	content: '';
	display: none;
}

.shopheader li.active .shopheader-num {

	background-color: #457D7E;

}

.shopheader li.active .shopheader-title {
	color: #457D7E;
}

.shopheader-num {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #736560;
	color: white;
	font-size: 11px;
	line-height: 18px;
	margin: auto;
	margin-bottom: 6px;
	text-align: center;
	text-indent: -1px;
	position: relative;
	z-index: 1;
	border: 6px solid #F3EDEB;
}

.shopheader-title {
	font-weight: bold;
	text-transform: uppercase;
	color: #736560;
	font-size: 12px;
	display: block;
    line-height: 1.4;
}

.wrapper {
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 120px;
}

.subtitle { 
	color: #736560;
	margin-bottom: 24px;
}

h1,h2,h3,h4,h5 {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}

h2 {
	font-size: 34px;
}

.cover {
	position: absolute;
	width: 100%;
	height: 230px;
	z-index: 0;
	background-size: cover;
    background-position: bottom;
}
.roundedlogo {
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	border: 3px solid white;
	width: 72px;
	height: 72px;
	background-size: cover;
	box-shadow: 0px 10px 14px rgba(23,16,14,0.2);
	margin-bottom: 18px;
	margin-top: 72px;
}

.product-amount-div button {
	outline: 0;
	border: 0px;
}

.button:hover {
	text-decoration: none;
	color: white;
}

.button {
	background-color: #457D7E;
	color: white;
	height: 50px;
	line-height: 50px;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	padding: 0 30px;
	font-size: 22px;
	border-radius: 12px;
	display: inline-block;
}

.button-full {
	width: 100%;
}

.btngroup {
	display: flex;
    justify-content: space-between;
}
.btngroup .button.button-full {
	width: calc(100% - 62px);
}

.button-back {
	width: 50px;
	background-color: white;
	color: #1A1310;
	padding: 0px;
}

.button-back:hover {
	color: #457D7E;
}

.footer {
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	padding: 24px;
	max-width: 700px;
    width: 100%;
	margin: auto;
	background-color: #F3EDEB;
	z-index: 10;
}



.footer-shadow {
	padding: 12px 24px;
	box-shadow: 0px -5px 14px rgba(23,16,14,0.2);
}